html {
    background-color: black !important;
}

.auth-container {
    background-color: black;
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.auth-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
}

.welcome-icon {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

p {
    margin-bottom: 30px;
    color: #000000;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input {
    margin-right: 10px;
}

.input-group button {
    width: 100%;
    padding: 10px;
    background-color: #4f46e5;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.input-group button:hover {
    background-color: #3e34b0;
}

.divider {
    margin: 20px 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.divider::before {
    margin-right: 10px;
}

.divider::after {
    margin-left: 10px;
}

.social-login {
    display: flex;
}

.social-login button {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.social-login button.google {
    margin-left: 10px;
    background-color: #FF0000;
    color: #ffffff;
}

.social-login button.google:hover {
    background-color: #C40C0C;
}

.sign-up {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.sign-up a {
    color: #4f46e5;
    text-decoration: none;
}

.sign-up a:hover {
    text-decoration: underline;
}

.forgot-password {
    font-size: 14px;
    color: #666;
    text-align: left;
    margin-bottom: 10px;
}