/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 20px; */
    padding: 1%;
    background-color: #e5a00d;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

/* Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Menempatkan elemen di kiri dan kanan */
    height: 500px;
    background: url('hero-background.jpg') no-repeat center center/cover;
    padding: 0 50px;
}

/* .hero-section::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
} */

.hero-content {
    max-width: 50%; /* Membatasi lebar konten teks */
    color: #fff;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 30px;
}

.hero-content button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #e50914;
    border: none;
    color: #fff;
    cursor: pointer;
}

.hero-image img {
    max-width: 50%; /* Menyesuaikan lebar gambar agar responsif */
    height: auto;
    border-radius: 0px;
    margin-left: 150px;
}

/* Posters Section */
.posters-section {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    flex-wrap: wrap;
}

.poster {
    text-align: center;
}

.poster img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.poster p {
    font-size: 18px;
}
